.tab {
  display: grid;
  grid-template-rows: 10dvh 10dvh 70dvh 10dvh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "sideRight"
    "main"
    "sideLeft";
}

.tab_mob {
  display: grid;
  grid-template-rows: 10dvh 80dvh 10dvh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "sideLeft";
}

.tab_mob .tab_sidebar {
  display: none;
}

.tab_header {
  grid-area: header;
}

.tab_nav {
  grid-area: sideLeft;
}

.tab_btn {
  padding: 1em 2em;
}

.tab_outlet {
  grid-area: main;
}

.tab_sidebar {
  grid-area: sideRight;
}

@media (min-width: 768px) {
  .tab {
    display: grid;
    grid-template-rows: 10dvh 10dvh 80dvh;
    grid-template-columns: 20% 1fr;
    grid-template-areas:
      "header header"
      "sideRight sideRight"
      "sideLeft main";
  }

  .tab_mob {
    display: grid;
    grid-template-rows: 10dvh 90dvh;
    grid-template-columns: 20% 1fr;
    grid-template-areas:
      "header header"
      "sideLeft main";
  }
}

@media (min-width: 976px) {
  .tab {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 20% 1fr 25%;
    grid-template-areas:
      "header header header"
      "sideLeft main sideRight";
  }

  .tab_mob {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 20% 1fr 25%;
    grid-template-areas:
      "header header header"
      "sideLeft main sideRight";
  }

  .tab_mob .tab_sidebar {
    display: flex;
  }
}
