.tab {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 12% 88%;
  grid-template-columns: 15% 1fr 25%;
  grid-template-areas:
    "header header header"
    "sideLeft main sideRight";
}

.tab_header {
  grid-area: header;
}

.tab_nav {
  grid-area: sideLeft;
}

.tab_btn {
  padding: 1em 2em;
}

.tab_outlet {
  grid-area: main;
}

.tab_sidebar {
  grid-area: sideRight;
}
